.card {
  width: 31%;
  margin-right: 2.3%;
  height: 60.4vw;
  float: left;
}

.poster {
  width: 100%;
  margin-bottom: 1.8%;
}

.name {
  color: #bcbec0;
  font-size: 5vw;
  line-height: 5vw;
  margin-top: 1vw;
}
