.card {
  width: 31%;
  margin-right: 2.3%;
  height: 60.4vw;
  float: left;
}

.poster {
  width: 100%;
  margin-bottom: 1.8%;
}

.name {
  margin-top: 1vw;
  height: 9.5vw;  
  font-size: 4.5vw;
  line-height: 4.5vw;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
